h1 {
    padding: 10px;
    text-align: center
}

.new-book{
    color: rgb(38, 38, 128);
    font-weight: bold;
}

.num {
    text-align: right;
}

body.rtl {
    direction: rtl;
}

.right-align {
    text-align: right;
}
.modal-header .close {
    padding: 1rem;
    margin: -1rem -1rem -1rem ;
}